
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*===font family===*/
$la:'Lato', sans-serif;
$mon:'Montserrat', sans-serif;
/* ===variable===*/
$color1:#666666;
$color2:#232833;
$color3:#EE4F4F;
$color4:#8097D1;
$color5:#ffffff;
$color6:#606062;

/*mar-padding*/
$m1:1rem;
$m2:1.5rem;
$m3:2rem;
$m4:2.5rem;
$m5:3rem;
$m6:3.5rem;
$m7:4rem;

*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
    position: relative;
    box-sizing: border-box;
}
/* ===header===*/
#header{
    .head{
        padding:20px 0px;
        background-color:#202022;
        p{
            font-size: $m1;
            line-height:$m2;
            color:$color5 ;
            font-weight: 400;
            font-family: $la;
            margin-bottom: 0px;
        }
    }
    .head-2{
        background-color: #ffffff;
        line-height: 50px;
        padding:20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .nav-manu ol{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            li {
                margin: 5px;
                a{
                text-decoration: none;
                font-size: 18px;
                line-height:$m2;
                color:$color6 ;
                font-weight: 400;
                font-family: $la;
                margin-bottom: 0px;
                padding: 0px 10px;
                }
            }
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
                &:hover {
                    color: #f1f1f1;
                  }
              }
              .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
              }
        }
        .scarce{
            overflow: hidden;
            margin: 8px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .inp-head{
                margin: 0px 10px;
                input{
                    text-transform: capitalize !important;
                    font-family: FontAwesome;
                    height: 44px;
                    width: 177px;
                    outline: none;
                    border: 1px solid $color6;
                    border-radius: 5px;
                    font-size: 13px;
                    padding-left: 11px;
                    font-weight: 400;
                }
            }
            span{
                display: none;
            }
        }
        &::after{
            content: '';
            clear: both;
            width: 100%;
            height: 1px;
            background-color: $color6;
        }
    }
}
/* ===header===*/
/* ===section-1===*/
    #sec-1{
        .bg-1{
            .text-sec-1{
                h1{
                    padding-top: 150px;
                    padding-bottom: 150px;
                    font-family: Montserrat;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 54px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                }
            }
        }
    }
/* ===section-1===*/
/* ===section-2===*/
    #sec-2{
        background-color: #fff;
        overflow: hidden;
        display: block;
        margin-top:100px ;
        margin-bottom: 100px;
        .select-hot{
            .seclect-1{
                text-align:right;
                span{
                    margin-right: 10px;
                    color: #666666;
                    font-family: Lato;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;


                }
                .option{
                    border: 2px solid #666666;
                    display: inline-block;
                    border-radius: 5px;
                    button{
                        font-family: Lato;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        height: 50px;
                        color: #606062;
                        padding: 5px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }
                    select{
                        height: 50px;
                        width: 170px;
                        padding: 5px;
                        outline: none;
                        border-radius: 5px;
                        font-size: 18px;
                        font-weight: 600;
                        color: #606062;
                        border: none;
                    }
                }
            }
        }
        .shoue-col{
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .shoue-12{
                height: 270px;
                width: 225px;
                margin: 30px 9px 30px 9px;
                border-radius: 5px;
                .image-shoue{
                    position: relative;
                    border-radius: 5px;
                    padding: 50px 10px;
                    text-align: center;
                    img{
                        height: 90px;
                        width: 140px;
                    }
                    .overlay-1{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        overflow: hidden;
                        width: 100%;
                        height: 0;
                        transition: .5s ease;
                        .text{
                            display: flex;
                            flex-wrap: wrap;
                            position: absolute;
                            top: 80%;
                            left: 45%;
                            transform: translate(-40%, -40%);
                            text-align: center;
                            .red ,.blue ,.white{
                                margin-left: 7px;
                                cursor: pointer;
                                font-size: 30px;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                            }
                            .red{ background-color: #343539;}
                            .blue{ background-color: #868FB0;}
                            .white{ background-color: #B905F8;}
                        }
                    }
                    &:hover .overlay-1 {
                        height: 100%;
                      }
                }
                .shoue-text-1{
                    h6{
                        margin: 15px 0px;
                        font-family: Lato;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: #232833;
                    }
                    .price-1{
                        display: flex;
                        flex-wrap: wrap;
                        span{
                            padding-right: 20px;
                            padding-right: 20px;
                            font-family: Lato;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            
                        }
                    }
                    
                }
                .img-1{background-color: #F5EBFA;}
                .img-2{background-color: #FFF1F1;}
                .img-3{background-color: #F1EFF2;;}
                .img-4{background-color: #EAFCED;}
                .img-5{background-color: #E8F6FA;}
                .img-6{background-color: #FEF3E3;}
                .img-7{background-color: #FFECE8;}
                .img-8{background-color: #F8F3DF;}
                .img-9{background-color: #F6EAFD;}
                .img-10{background-color: #FFEEB2;}
                .img-11{background-color: #E1BFBF;}
                .img-12{background-color: #C6B1C0;}
                &:hover .color{
                    opacity: 0;
                  }
            }
        }
        .btn-next{
            margin-top: 50px;
            margin-bottom: 20px;
            a{
                border-radius: 2px;
                padding: 10px 15px;
                margin: 5px;
                border: 1px solid #666666;
                text-decoration: none;
                font-family: Lato;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: center;
                color: #666666;

            }
            .next{
                border: none;
                &:hover{
                    text-decoration: underline;
                }
                
            }
        }
    }
/* ===section-2===*/
/* ===section-3===*/
#sec-3{
    display: block;
    overflow: hidden;
    padding-bottom: 100px;
        .heading{
            margin-top: 70px;
            margin-bottom: 100px;
            h2{
                font-family: Montserrat;
                font-size: 46px;
                font-style: normal;
                font-weight: 500;
                line-height: 54px;
                letter-spacing: 0em;
                color: #232833;

            }
        }
}
/* ===section-3===*/
/* ===footer===*/
#fo-1{
    overflow: hidden;
    background-color: #f0f0f0;
   .footer{


    .fotter{
       .row{
        padding: 100px 0px;
        margin: 0 auto;
        .f-3{
            .head-footer h4{
                height: 50px;
                font-size: $m2;
                font-weight: 600;
                color: $color2;
                font-family: $la;
            }
            .footer-cl-1{
                margin-top: 50px;
                .text-num ,.text-gmail , .text-location{
                    padding-bottom: 20px;
                    a{
                        color: #666666;
                        font-size: 20px;
                        font-weight: normal;
                        text-decoration: none;
                        
                    }
                }
                tr{
                    padding-bottom: 20px;
                    td {
                        img{
                            margin-right: 10px;
                        }
                        a{
                            color: #666666;
                            font-size: 20px;
                            font-weight: normal;
                            text-decoration: none;
                            
                        }
                    }
                }
                input{
                    text-transform: capitalize !important;
                    height: 44px;
                    width: 200px;
                    outline: none;
                    border: 1px solid $color6;
                    border-radius: 5px;
                    font-size: 16px;
                    padding-left: 11px;
                    font-weight: 400;
                    margin-bottom: 20px;
                } 
            }
            .fotter-footer h4{
                font-size: $m2;
                font-weight: 600;
                color: $color2;
                font-family: $la;
                margin-bottom: 20px;
            }
            .socal-icon{
                svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
                    overflow: visible;
                    -webkit-box-sizing: content-box;
                    box-sizing: content-box;
                    padding: 10px;
                    background:$color2 ;
                    width: 25px;
                    height: 25px;
                    border-radius: 1000px;
                    color: #ffffff;
                    transform: 0.6;
                    cursor: pointer;
                    &:hover{
                        background-color: $color4;
                    }
                }
            }
        }
       }
        &::after{
            content: '';
            clear: both;
            width: 100%;
            height: 1px;
            background-color: $color6;
            display: block;
            margin-bottom: 10px;
        }
    }
   }
    .copy-right{
        overflow: hidden;
        .copyright{
            display: flex;
            justify-content: space-between;
            padding: 20px 0px;
            .left,.right{
                display: flex;
                justify-content: space-between;
               p{
                    margin-right: 30px;
                    cursor: pointer;
                    color: #666666;
                    font-size: 20px;
                    font-weight: normal;
                    text-decoration: none;
               }
            }
        }
       
    }
}
/* ===footer===*/

@media (max-width: 1080px) { 
        #header{
            .head-2{
                .nav-manu {
                    display: none;
                }
                .scarce{
                    span{
                        display: block;
                    }
                }
            }
        }

}
@media (max-width: 490px) { 
    #header{
        .head-2{
            .nav-manu {
                display: none;
            }
            .scarce{
                span{
                    display: block;
                }
                .inp-head{
                    input{
                        display: none;
                    }
                }
            }
        }
    }
    .select-shoue {
        display: none;
    }
}